.search-page-overview{
    background-color: rgb(144, 169, 85);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    min-width: 30rem;
    max-width: 100%;
    min-height: 40rem;
    max-height: 100%;
}