.vega-picks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

#vega-picks-title{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-right: 1rem;
    margin-left: 1rem;
}