.product-page-overview{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(236, 243, 158);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    min-width: 30rem;
    max-width: 100%;
    min-height: 40rem;
    max-height: 100%;
}

.title-container2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.product-container{

}

.product-recipe{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Lobster Two', cursive;
    flex-shrink: 1;
    flex-grow: 0;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#product-img{
    border-radius: 2rem;
    max-width: 20rem;
    flex-grow: 0;
    flex-shrink: 1;
}

#ready{
    font-family: 'Lobster Two', cursive;
}

#instructions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
    flex-grow: 0;
    flex-shrink: 1;
}

#ingredients{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    flex-grow: 0;
    flex-shrink: 1;
}

button{
    align-items: center;
    background-clip: padding-box;
    background-color: rgb(214, 40, 40);
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

button:hover,
button:focus {
    background-color: rgb(19, 42, 19);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
    transform: translateY(-1px);
    /*background-color: rgb(144, 169, 85);*/
}

button:active {
    background-color: rgb(19, 42, 19);
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

