.product-page-overview{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(236, 243, 158);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    min-width: 30rem;
    max-width: 100%;
    min-height: 40rem;
    max-height: 100%;
}

.title-container2{

}

.product-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.product-recipe{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Lobster Two', cursive;
    flex-shrink: 1;
    flex-grow: 0;
}

#product-img{
    border-radius: 2rem;
    max-width: 20rem;
    flex-grow: 0;
    flex-shrink: 1;
}

#ready{
    font-family: 'Lobster Two', cursive;
}

#instructions{
    font-family: 'Lobster Two', cursive;
}