
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 30rem;
    max-width: 100%;
    background-color: rgb(19, 42, 19);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

ul {
    list-style-type: none;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 1000px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
    margin: 1rem;
}

.profile-menu{
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
    min-width: 6rem;
    margin: 1rem;
}

.active-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(236, 243, 158);
    text-decoration: none;
}

.not-active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

